.TutorialPanelRoot {
	width: 100%;
	height: 100%;

	background-color: #000000bb;
}

#TutorialPanel {
	background-image: url("file://{images}/tutorial_all.png");
	background-size: 100% 100%;
	width: 1748px;
	height: 490px;

	vertical-align: center;
	horizontal-align: center;

	transform: scale3d(0.75, 0.75, 0.75) rotateX(3deg);
	box-shadow: #00000080 0px 0px 20px 0px;

	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

#TutorialPanel.Hidden {
	transform: none;
	opacity: 0.0;
}